/* 
    Document   : socialstream
    Created on : 10-mei-2013, 12:19:29
    Author     : Tomas
*/

/* These fonts block loading in IE8 */
/* @font-face {font-family: socialico;src: url('Socialico.otf'),url('Socialico.ttf'); } */

div[id^=ss_slider] {position: relative;width: 246px;margin-top: -20px;}
div[id^=ss_slider] .ss_itemsframe {overflow:hidden;}
div[id^=ss_slider] .ss_items{width: 10000px;}
div[id^=ss_slider] .ss_item.twitter .ss_content, div[id^=ss_slider] .ss_item.facebook .ss_content {font-size:20px; overflow:hidden;}
div[id^=ss_slider] .ss_item.facebook .ss_typeicon:after{content:"F";}
div[id^=ss_slider] .ss_item.twitter .ss_typeicon:after{content:"L";}
div[id^=ss_slider] .ss_item.vimeo .ss_typeicon:after{content:"V";}
div[id^=ss_slider] .ss_item.flickr .ss_typeicon:after{content:"N";}
div[id^=ss_slider] .ss_item.image .ss_content{background-repeat: no-repeat;background-position: center center;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;}

div[id^=ss_slider].small .ss_items { height: 246px;}
div[id^=ss_slider].small .ss_items > div.ss_item { width: 246px; height: 350px; background-color:white; float:left;position: relative;}
div[id^=ss_slider].small .ss_item .ss_content { /*margin:10px;*/ height: 226px; }
div[id^=ss_slider].small .ss_item .ss_username {padding: 10px;line-height: 130%;line-height: 130%;color:#4c4c4c;}
div[id^=ss_slider].small .ss_item .ss_typeicon {position:absolute;right:10px; bottom:10px; font-family: socialico;line-height: 100%;font-size:28px;color:#24c464;}
div[id^=ss_slider].small .buttonleft,div[id^=ss_slider].small .buttonright {height:30px; width: 18px; background-image: url('../img/slider_arrows.png');position: absolute;bottom:20px;cursor:pointer;top: 50%;margin-top: -15px;}
div[id^=ss_slider].small .buttonleft { left: -60px; } 
div[id^=ss_slider].small .buttonright { right: -60px; background-position: -18px 0; }
div[id^=ss_slider].small .buttonleft:hover  {background-position:0px -30px;}
div[id^=ss_slider].small .buttonright:hover {background-position:-18px -30px;}

div[id^=ss_slider].large {width:440px;}
div[id^=ss_slider].large .ss_items > div.ss_item {  width: 440px; height: 250px; float:left; position: relative;}
div[id^=ss_slider].large .ss_item .ss_content { height:250px;width:440px; }
div[id^=ss_slider].large .ss_item.twitter .ss_content,div[id^=ss_slider].large .ss_item.facebook .ss_content {font-size:28px; overflow:hidden; color:white; margin:20px 30px; line-height: 38px;height: 152px;width:380px;}
div[id^=ss_slider].large .ss_item a {color:#7fe9a9;}
div[id^=ss_slider].large .buttonleft,div[id^=ss_slider].large .buttonright {height:30px; width: 18px; background-image: url('../img/slider_arrows.png');position: absolute;bottom:20px;cursor:pointer;}
div[id^=ss_slider].large .buttonleft  {left:20px;}
div[id^=ss_slider].large .buttonright {right: 20px;background-position:-18px 0;}
div[id^=ss_slider].large .buttonleft:hover  {background-position:0px -30px;}
div[id^=ss_slider].large .buttonright:hover {background-position:-18px -30px;}
div[id^=ss_slider].large .ss_item .ss_username {display:none;}
div[id^=ss_slider].large .ss_item.flickr .ss_typeicon, div[id^=ss_slider].large .ss_item.vimeo .ss_typeicon {text-shadow: 1px 1px 3px #000;}
div[id^=ss_slider].large .ss_item .ss_typeicon  {position:absolute;left:50%;margin-left:-25px; bottom:31px; font-family: socialico;font-size:45px;color:#FFFFFF;width:50px;text-align: center;}
div[id^=ss_slider].large {background-color:#24c464;}

div[id^=ss_indicators] {text-align: center;height: 24px;margin-bottom:30px}
div[id^=ss_indicators] > div {cursor:pointer; height:6px;width:6px;border-style:solid;border-radius: 6px;border-width: 3px;border-color:#dcdcdc;background-color:#dcdcdc;display:inline-block;margin:6px;}
div[id^=ss_indicators] > div.active {background-color:#FFFFFF;}